//colors
$primary-color: #F5A623;
$primary-text-color: #333333;
$secondary-black-color: #4F4F4F;
$warning-color: #EB5757;
$success-color: #219653;
$white: #fff;

//
$container__max-width: 1100px;

//column width
$cols__count: 12;
$grid__col--sm-max: 576;
$grid__col--md-max: 768;
$grid__col--bd-max: 1200;

$grid__col--responsive-breakpoint: 1086;

//padding
$container__side-padding: 1rem;

//positions
$center: center;
$left: left;
$right: right;

//border
$button-border-radius: 4.07px;
$card-image-border-radius: 6px;

$header-button-padding: 14px 22px;
$body-button-padding: 18px 126px;

//shadow
$button-shadow: 0px 1.01673px 1.01673px rgba(0, 0, 0, 0.5);

//fonts
$primary-font-family: Flutterwave;
$secondary-font-family: SFProDisplay;
$tertiary-font-family: OpenSans;
